#hero{
    background-image: linear-gradient(to bottom right,#1E90FF, #191970);
    text-align: center;
    color:white;
    height:50px;
}

/* Column -3 styling */

#past-search{
    margin-top:5px;
    margin-bottom:5px;
    border-bottom:solid;
    width: fit-content;
    
}

#past-search h2{
    margin-top:5px;
    margin-bottom:5px;
}

button{
    margin-top:5px;
    margin-bottom:5px;
    width:169.33px;
    background-color: gray;
    width:100%;
    border-radius:5px;
    color:white;
}

#submit{
    margin-bottom:5px;
    background-color: #1E90FF;
}

.button-container{
    border-bottom:black solid;
}

textarea{
    margin-bottom:5px;
    border-bottom:solid;
    border-radius:40px;
    resize:none;
}
/* Column-3 styling ends */

/* Column-9 styling begins */

/* Five day forecast styling */

.daily-forecast{
    background-color: navy;
    color:white;
    
}
.daily-forecast ul li{
    background-color: navy;
    color:white;
}

#future-weather{
    border:none;
}

div .col{
    padding: 0.5px;
}

.list-group-item{
    font-size:80%;
}

/* five day forecast styling ends */


#current-weather{
    border-color:black;
    margin-top:20px;
}







/* uv color classes begin */

.goodUv{
background-color: green;
color: white;
} 
  
.moderateUv {
background-color: orange;
color: white;
}
  
.dangerousUv {
background-color: red;
color: white;
}

/* uv color classes end */